body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 249);
    color: black;
}

header {
    background-color: rgb(0, 115, 230);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    margin: 2rem auto;
    width: 80%;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 2rem;
    color: rgb(0, 115, 230);
}

ol {
    margin-left: 1rem;
    font-weight: bold;
    
}

ol p{
    font-weight: bold;
}

ol p1{
    font-weight: bold;
    color: crimson;
}

ol li {
    margin: 1rem 0;
}

.choices {
    margin-top: 0.5rem;
    list-style-type: none;
    padding-left: 0;
}

.choices li {
    background-color: rgb(249, 249, 249);
    margin: 0.3rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}

.choices li:hover {
    background-color: rgb(190, 223, 255);
}

.choices li.correct {
    background-color: rgb(200, 230, 201);
    color: green;
}

.choices li.wrong {
    background-color: rgb(255, 205, 210);
    color: red;
}

button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 115, 230);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 115, 230);
}

.answer {
    display: none;
    margin-top: 0.5rem;
    color: green;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0073e6;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}

.button:focus {
    outline: none;
}
